<html xmlns:th="http://www.thymeleaf.org">
<!-- 代码片段-->
<div th:fragment="list">
  <!-- 内容头部 -->
  <section class="content-header">
    <h1>
      角色管理
      <small>查询角色</small>
    </h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">角色管理</a></li>
      <li class="active">查询角色</li>
    </ol>
  </section>
  <!-- 内容头部 /-->

  <!-- 正文区域 -->
  <section class="content">

    <div class="box box-primary">

      <div class="box-header with-border">
        <h3 class="box-title">查询角色</h3>
      </div>

      <div class="box-body">
        <script>
          function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i] != source) {
                checkboxes[i].checked = source.checked;
              }
            }
          }

          function modify(source) {
            location.href = '/admin/role.html?m=modify&id=' + source.value;
          }

          function info(source) {
            location.href = '/admin/role.html?m=info&id=' + source.value;
          }

          function page(current_num) {
            size = document.getElementById('page_size')
            location.href = '/admin/role.html?m=list&size=' + size.value + '&current=' + current_num;
          }

          function deleteOne(source) {
            location.href = '/admin/role.html?m=del&id=' + source.value;
          }

          function del(ok) {
            if (ok) {
              var ids = []
              var checkboxes = document.querySelectorAll('input[type=checkbox][name=ids]:checked')
              for (var i = 0; i < checkboxes.length; i++) {
                ids.push(checkboxes[i].value)
              }
              if (ids.length > 0) {
                $.ajax({
                  url: '/role',
                  type: 'delete',
                  contentType: 'application/json',
                  dataType: 'json',
                  data: JSON.stringify(ids),
                  success: function (result) {
                    document.location.href = '/admin/role.html?m=list';
                  }
                })
              } else {
                alert("没有选择删除项")
              }
            } else {
              alert("没有删除")
            }
          }

          function search_box(source) {
            $("table tr").show();
            var txt = source.value;
            if ($.trim(txt) != "") {
              $("table tr:not('thead tr')").hide().filter(":contains('" + txt + "')").show();
            }
          }
        </script>

        <div class="box-body">

          <!-- 数据表格 -->
          <div class="table-box">
            <!--工具栏-->
            <div class="pull-left">
              <div class="form-group form-inline">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" title="添加"
                          onclick="location.href='/admin/role.html?m=add'"><i
                      class="fa fa-file-o"></i> 添加
                  </button>
                  <button type="button" class="btn btn-default" title="删除"
                          onclick="del(confirm('你确认要删除所选吗？'))"><i class="fa fa-trash-o"></i> 删除
                  </button>
                  <button type="button" class="btn btn-default" title="刷新"
                          onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新
                  </button>
                </div>
              </div>
            </div>
            <!-- 搜索框 -->
            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="搜索" name="search_box"
                       onkeyup="search_box(this)">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
              <thead>
              <tr>
                <th class="" style="padding-right:0px;">
                  <input id="selall" type="checkbox" class="icheckbox_square-blue" onclick="toggle(this);">
                </th>
                <th class="sorting_asc">角色名</th>
                <th class="sorting">本地化角色名</th>
                <th class="sorting">权限</th>
                <th class="text-center">操作</th>
              </tr>
              </thead>
              <tbody>

              <!--/*@thymesVar id="roles" type="java.util.List<top.codermhc.drugmanager.base.entity.Role>"*/-->
              <tr th:each="role:${roles}">
                <td><input name="ids" type="checkbox" th:value="${role.id ?: ''}"></td>
                <td th:text="${role.name ?: ''}">
                  000000
                </td>
                <td th:text="${role.localeName ?: ''}">xxxx</td>
                <td th:text="${role.perms ?: ''}">000000000000000000</td>
                <td class="text-center">
                  <button type="button" class="btn bg-olive btn-xs"
                          onclick="info(this)" th:value="${role.id ?: ''}">详情
                  </button>
                  <button type="button" class="btn bg-olive btn-xs"
                          onclick="modify(this)" th:value="${role.id ?: ''}">修改
                  </button>
                  <button type="button" class="btn bg-olive btn-xs"
                          onclick="deleteOne(this)" th:value="${role.id ?: ''}">删除
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <!--数据列表/-->
          </div>
          <!-- 数据表格 /-->
        </div>
        <!-- /.box-body -->

        <!-- .box-footer-->
        <div class="box-footer">
          <!--/*@thymesVar id="pageCount" type="java.lang.Integer"*/-->
          <!--/*@thymesVar id="count" type="java.lang.Integer"*/-->
          <!--/*@thymesVar id="current" type="java.lang.Integer"*/-->
          <div class="pull-left">
            <div class="form-group form-inline">
              <p class="form-control-static" th:text="|总共 ${pageCount} 页， 共 ${count} 条数据。|">总共2页，共14条数据。</p>
              每页
              <select class="form-control" id="page_size">
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>50</option>
                <option>80</option>
              </select> 条
            </div>
          </div>

          <div class="box-tools pull-right" th:if="${pageCount} > 1">
            <ul class="pagination">
              <li th:if="${pageCount} > 1"><a aria-label="Previous" th:onclick="|page(${current})|">首页</a></li>
              <li th:if="${current}-1 >= 1"><a href="#">上一页</a></li>
              <li th:if="${current}-2 >= 1"><a href="#" th:text="${current}-2">1</a></li>
              <li th:if="${current}-1 >= 1"><a href="#" th:text="${current}-1">2</a></li>
              <li th:if="${current}"><a href="#" th:text="${current}">3</a></li>
              <li th:if="${current}+1 <= ${pageCount}"><a href="#" th:text="${current}+1">4</a></li>
              <li th:if="${current}+2 <= ${pageCount}"><a href="#" th:text="${current}+2">5</a></li>
              <li th:if="${current}+2 <= ${pageCount}"><a href="#">下一页</a></li>
              <li th:if="${pageCount} > 1"><a href="#" aria-label="Next">尾页</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- 正文区域 /-->
</div>


<div th:fragment="add">

  <!-- 内容头部 -->
  <section class="content-header">
    <h1>
      角色管理
      <small>添加角色</small>
    </h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">角色管理</a></li>
      <li class="active">添加角色</li>
    </ol>
  </section>
  <!-- 内容头部 /-->

  <!-- 正文区域 -->
  <section class="content">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">输入新角色信息</h3>
      </div>

      <div class="box-body">
        <form class="form-horizontal col-lg-5" th:action="@{/role}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label th:for="name" class="col-sm-2 control-label">角色名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="name" placeholder="角色名" name="name"/>
              </div>
              <label th:for="localeName" class="col-sm-2 control-label">本地化</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="localeName" placeholder="本地化" name="localeName"/>
              </div>
              <label th:for="perms" class="col-sm-2 control-label">权限</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="perms" placeholder="权限" name="perms"/>
              </div>
            </div>
            <div class="box-footer col-sm-5 col-sm-offset-4">
              <button type="reset" class="btn btn-default">取消</button>
              <input type="submit" class="btn btn-info pull-right" value="确认">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- 正文区域 /-->

</div>

<div th:fragment="del">
  <!-- 内容头部 -->
  <section class="content-header">
    <h1>
      角色管理
      <small>删除角色</small>
    </h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">角色管理</a></li>
      <li class="active">删除角色</li>
    </ol>
  </section>
  <!-- 内容头部 /-->

  <!-- 正文区域 -->
  <section class="content">

    <div class="box box-primary">

      <div class="box-header with-border">
        <h3 class="box-title">角色信息</h3>
      </div>

      <!--/*@thymesVar id="role" type="top.codermhc.drugmanager.base.entity.Role"*/-->
      <div class="box-body">
        <form class="form-horizontal" action="/role" th:method="delete">
          <input th:value="${role.id}" name="id" hidden>
          <div class="box-body col-lg-5">
            <div class="form-group">
              <label th:for="name" class="col-sm-2 control-label">角色名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="name" placeholder="角色名" name="name"
                       th:value="${role.name ?: ''}" disabled/>
              </div>
              <label th:for="localeName" class="col-sm-2 control-label">本地化名称</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="localeName" placeholder="本地化名称" name="localeName"
                       th:value="${role.localeName ?: ''}" disabled/>
              </div>
              <label th:for="perms" class="col-sm-2 control-label">权限</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="perms" placeholder="权限" name="perms"
                       th:value="${role.perms ?: ''}" disabled/>
              </div>
            </div>
            <div class="box-footer col-sm-6">
              <input type="submit" class="btn btn-info pull-right" value="确认删除">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- 正文区域 /-->
</div>

<div th:fragment="info">
  <!-- 内容头部 -->
  <section class="content-header">
    <h1>
      角色管理
      <small>角色详情</small>
    </h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">角色管理</a></li>
      <li class="active">角色详情</li>
    </ol>
  </section>
  <!-- 内容头部 /-->

  <!-- 正文区域 -->
  <section class="content">

    <div class="box box-primary">

      <div class="box-header with-border">
        <h3 class="box-title">角色信息</h3>
      </div>

      <!--/*@thymesVar id="role" type="top.codermhc.drugmanager.base.entity.Role"*/-->
      <div class="box-body">
        <form class="form-horizontal">
          <div class="box-body col-lg-5">
            <div class="form-group">
              <label th:for="name" class="col-sm-2 control-label">角色名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="name" placeholder="姓名" name="name"
                       th:value="${role.name ?: ''}" disabled/>
              </div>
              <label th:for="localeName" class="col-sm-2 control-label">本地化名称</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="localeName" placeholder="本地化名称" name="localeName"
                       th:value="${role.localeName ?: ''}" disabled/>
              </div>
              <label th:for="perms" class="col-sm-2 control-label">权限</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="perms" placeholder="权限" name="perms"
                       th:value="${role.perms?: ''}" disabled/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- 正文区域 /-->
</div>

<div th:fragment="modify">
  <!-- 内容头部 -->
  <section class="content-header">
    <h1>
      角色管理
      <small>修改角色信息</small>
    </h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">角色管理</a></li>
      <li class="active">修改角色信息</li>
    </ol>
  </section>
  <!-- 内容头部 /-->

  <!-- 正文区域 -->
  <section class="content">

    <div class="box box-primary">

      <div class="box-header with-border">
        <h3 class="box-title">角色信息</h3>
      </div>
      <!--/*@thymesVar id="role" type="top.codermhc.drugmanager.base.entity.Role"*/-->
      <div class="box-body">
        <form class="form-horizontal" action="/role" th:method="patch">
          <input th:value="${role.id}" name="id" hidden>
          <div class="box-body col-lg-5">
            <div class="form-group">
              <label th:for="name" class="col-sm-2 control-label">角色名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="name" placeholder="角色名" name="name"
                       th:value="${role.name ?: ''}" />
              </div>
              <label th:for="localeName" class="col-sm-2 control-label">本地化名称</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="localeName" placeholder="本地化名称" name="localeName"
                       th:value="${role.localeName ?: ''}" />
              </div>
              <label th:for="perms" class="col-sm-2 control-label">权限</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:id="perms" placeholder="权限" name="perms"
                       th:value="${role.perms ?: ''}" />
              </div>
            </div>
            <div class="box-footer col-sm-5 col-sm-offset-4">
              <button type="reset" class="btn btn-default">取消</button>
              <input type="submit" class="btn btn-info pull-right" value="确认" id="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- 正文区域 /-->
</div>
</html>