<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userinfo(user, departs, role, editing, action, method)">

  <div class="box-info col-lg-5">
    <form class="form-horizontal" th:action="${action}" th:method="${method}">
      <div class="box-body">
        <div class="form-group">
          <label th:for="name" class="col-sm-2 control-label">姓名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="name" placeholder="姓名" name="name"
                   th:value="${user != null ? user.getName():''}" th:disabled="${role != null && role.getName() == 'user'}">
          </div>
          <label th:for="workId" class="col-sm-2 control-label">工号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="workId" placeholder="工号" name="workId"
                   th:value="${user != null ? user.getWorkId() : ''}" th:disabled="${role != null && role.getName() == 'user'}">
          </div>
          <label th:for="identity" class="col-sm-2 control-label">身份证号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="identity" placeholder="身份证号" name="identity"
                   th:value="${user != null ? user.getIdentity() : ''}" th:disabled="${role != null && role.getName() == 'user'}">
          </div>
          <label th:for="title" class="col-sm-2 control-label">职称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="title" placeholder="职称" name="title"
                   th:value="${user != null ? user.getTitle() : ''}" th:disabled="${role != null && role.getName() == 'user'}">
          </div>
          <label th:for="email" class="col-sm-2 control-label">邮箱</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" th:id="email" placeholder="邮箱" name="email"
                   th:value="${user != null ? user.getEmail() : ''}">
          </div>
          <label th:for="phone" class="col-sm-2 control-label">电话</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" th:id="phone" placeholder="电话" name="phone"
                   th:value="${user != null ? user.getPhone() : ''}">
          </div>
        </div>
        <div class="form-group">
          <label th:for="departmentId" class="col-sm-2 control-label">科室</label>
          <div class="col-sm-10">
            <input type="radio" name="departmentId" th:id="departmentId" th:each="depart:${departs}"
                   th:value="${depart.getId()}" th:text="| ${depart.getName()}  |" th:disabled="${role != null && role.getName() == 'user'}">
          </div>
        </div>
        <div class="box-footer col-sm-5 col-sm-offset-4" th:if="${editing}">
          <button type="reset" class="btn btn-default">取消</button>
          <input type="submit" class="btn btn-info pull-right" value="确认" id="submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div th:fragment="userlist(UserVOs, current, size, count)">


</html>