<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userinfo(user, departs, role, editing, action, method)">
  <div class="box-info col-lg-5">
    <form class="form-horizontal" th:action="${action}" th:method="${method}">
      <div class="box-body">
        <div class="form-group">
          <label th:for="name" class="col-sm-2 control-label">姓名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="name" placeholder="姓名" name="name"
                   th:value="${user != null ? user.getName():''}" th:disabled="${role == 'user'}">
          </div>
          <label th:for="workId" class="col-sm-2 control-label">工号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="workId" placeholder="工号" name="workId"
                   th:value="${user != null ? user.getWorkId() : ''}" th:disabled="${role == 'user'}">
          </div>
          <label th:for="identity" class="col-sm-2 control-label">身份证号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="identity" placeholder="身份证号" name="identity"
                   th:value="${user != null ? user.getIdentity() : ''}" th:disabled="${role == 'user'}">
          </div>
          <label th:for="title" class="col-sm-2 control-label">职称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:id="title" placeholder="职称" name="title"
                   th:value="${user != null ? user.getTitle() : ''}" th:disabled="${role == 'user'}">
          </div>
          <label th:for="email" class="col-sm-2 control-label">邮箱</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" th:id="email" placeholder="邮箱" name="email"
                   th:value="${user != null ? user.getEmail() : ''}">
          </div>
          <label th:for="phone" class="col-sm-2 control-label">电话</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" th:id="phone" placeholder="电话" name="phone"
                   th:value="${user != null ? user.getPhone() : ''}">
          </div>
        </div>
        <div class="form-group">
          <label th:for="departmentId" class="col-sm-2 control-label">科室</label>
          <div class="col-sm-10">
            <input type="radio" name="departmentId" th:id="departmentId" th:each="depart:${departs}"
                   th:value="${depart.getId()}" th:text="| ${depart.getName()}  |" th:disabled="${role == 'user'}">
          </div>
        </div>
        <div class="box-footer col-sm-5 col-sm-offset-4" th:if="${editing}">
          <button type="reset" class="btn btn-default">取消</button>
          <input type="submit" class="btn btn-info pull-right" value="确认" id="submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div th:fragment="userlist(users)">

    <div class="box-body">

      <!-- 数据表格 -->
      <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
          <div class="form-group form-inline">
            <div class="btn-group">
              <button type="button" class="btn btn-default" title="添加"
                      onclick="location.href='/admin/adduser.html'"><i
                  class="fa fa-file-o"></i> 添加
              </button>
              <button type="button" class="btn btn-default" title="删除"
                      onclick='confirm("你确认要删除吗？")'><i class="fa fa-trash-o"></i> 删除
              </button>
              <button type="button" class="btn btn-default" title="开启"
                      onclick='confirm("你确认要开启吗？")'><i class="fa fa-check"></i> 开启
              </button>
              <button type="button" class="btn btn-default" title="屏蔽"
                      onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽
              </button>
              <button type="button" class="btn btn-default" title="刷新"
                      onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新
              </button>
            </div>
          </div>
        </div>
        <!-- 搜索框 -->
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" placeholder="搜索">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
          <thead>
          <tr>
            <th class="" style="padding-right:0px;">
              <input id="selall" type="checkbox" class="icheckbox_square-blue">
            </th>
            <th class="sorting_asc">工号</th>
            <th class="sorting">姓名</th>
            <th class="sorting">身份证号</th>
            <th class="sorting">科室</th>
            <th class="sorting">职称</th>
            <th class="sorting">邮箱</th>
            <th class="sorting">电话</th>
            <th class="text-center">操作</th>
          </tr>
          </thead>
          <tbody>

          <tr th:each="user:${users}">
            <td><input name="ids" type="checkbox"></td>
            <td th:text="${user.getWorkId()}">
              000000
            </td>
            <td th:text="${user.getName()}">xxxx</td>
            <td th:text="${user.getIdentity()}">000000000000000000</td>
            <td th:text="${user.getDepartment().getName()}">xxxx</td>
            <td th:text="${user.getTitle()}">xxxxxxx</td>
            <td th:text="${user.getEmail()}">xxx@xx.xx</td>
            <td th:text="${user.getPhone()}">12345678901</td>
            <td th:text="${}">12345678901</td>

            <td class="text-center">
              <button type="button" class="btn bg-olive btn-xs"
                      onclick='location.href="all-order-manage-edit.html"'>订单详情
              </button>
              <button type="button" class="btn bg-olive btn-xs"
                      onclick='location.href="all-order-manage-edit.html"'>编辑
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--数据列表/-->

      </div>
      <!-- 数据表格 /-->
    </div>
    <!-- /.box-body -->

    <!-- .box-footer-->
    <div class="box-footer">
      <div class="pull-left">
        <div class="form-group form-inline">
          总共2 页，共14 条数据。 每页
          <select class="form-control">
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>50</option>
            <option>80</option>
          </select> 条
        </div>
      </div>

      <div class="box-tools pull-right">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">首页</a>
          </li>
          <li><a href="#">上一页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">下一页</a></li>
          <li>
            <a href="#" aria-label="Next">尾页</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /.box-footer-->
  </div>

</div>

</html>