<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用药管理系统-修改密码</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
  <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>


  <script>
    // 设置激活菜单
    function setSidebarActive(tagUri) {
      var liObj = $("#" + tagUri);
      if (liObj.length > 0) {
        liObj.parent().parent().addClass("active");
        liObj.addClass("active");
      }
    }
  </script>
  <div th:replace="commons/css"></div>
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">

<div class="wrapper">

  <!-- 顶部导航条 -->
  <div th:replace="commons/head-navbar::head-navbar(
      username=${login_info.user.name ?: 'unknown'},
      rolename=${login_info.role.localeName ?: 'unknown'},
      logintime=${login_info.userAuthentication.lastLoginTime ?: #dates.createNow()})"></div>

  <!-- 左侧导航 -->
  <div th:replace="commons/left-sidebar::left-sidebar(rolename=${login_info.role.name ?: 'unknown'})"></div>

  <!-- js -->
  <div th:replace="commons/js"></div>

  <div class="content-wrapper">
    <!-- 内容头部 -->
    <section class="content-header">
      <h1>
        个人管理
        <small>修改密码</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">个人管理</a></li>
        <li class="active">修改密码</li>
      </ol>
    </section>
    <!-- 内容头部 /-->

    <!-- 正文区域 -->
    <section class="content">

      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">请输入</h3>
        </div>

        <script>
          function check() {
            pass = document.getElementById('thenew').value;
            chk = document.getElementById('check').value;
            if (pass !== chk) {
              alert("两次密码输入不一样")
              return false;
            }
            old = document.getElementById('old').value;
            if (pass !== old) {
              alert("密码不能与原密码相同")
              return false;
            }
            return true;
          }
        </script>
        <div class="box-body">
          <form class="form-horizontal" action="/changePass" method="post">
            <div class="box-body col-lg-5">
              <div class="form-group">
                <label for="old" class="col-sm-2 control-label">原密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="old" placeholder="原密码" name="old"/>
                </div>
                <label for="thenew" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="thenew" placeholder="新密码" name="thenew"/>
                </div>
                <label for="check" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="check" placeholder="新密码"/>
                </div>
            </div>
              <div class="form-group">
                <div class="box-footer col-sm-5 col-sm-offset-4">
                  <button type="reset" class="btn btn-default">取消</button>
                  <input type="submit" class="btn btn-info pull-right" value="确认" onsubmit="return check();"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- 正文区域 /-->
    <script>
      $(document).ready(function () {
        setSidebarActive("user-password");
      });
    </script>
  </div>
  <!-- 页脚 -->
  <div th:replace="commons/footer"></div>
</div>
</div>
</body>
</html>