<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用药管理系统-个人信息</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
  <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>

  <script>
    // 设置激活菜单
    function setSidebarActive(tagUri) {
      var liObj = $("#" + tagUri);
      if (liObj.length > 0) {
        liObj.parent().parent().addClass("active");
        liObj.addClass("active");
      }
    }
  </script>

  <div th:replace="commons/css"></div>
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">

<div class="wrapper">

  <!-- 顶部导航条 -->
  <div th:replace="commons/head-navbar::head-navbar(
      username=${login_info.user.name ?: 'unknown'},
      rolename=${login_info.role.localeName ?: 'unknown'},
      logintime=${login_info.userAuthentication.lastLoginTime ?: #dates.createNow()})"></div>

  <!-- 左侧导航 -->
  <div th:replace="commons/left-sidebar::left-sidebar(rolename=${login_info.role.name ?: 'unknown'})"></div>

  <!-- js -->
  <div th:replace="commons/js"></div>

    <!-- 内容区域 -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          个人管理
          <small>个人信息</small>
        </h1>
        <ol class="breadcrumb">
          <li><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> 首页</a></li>
          <li><a href="#">个人管理</a></li>
          <li class="active">个人信息</li>
        </ol>
      </section>
      <!-- 内容头部 /-->

      <!-- 正文区域 -->
      <section class="content">

        <div class="box box-primary">

          <div class="box-header with-border">
            <h3 class="box-title">用户信息</h3>
          </div>

          <div class="box-body">
            <form class="form-horizontal" action="/user" th:method="patch">
              <div class="box-body col-lg-5">
                <div class="form-group">
                  <input name="id" th:value="${login_info.user.id ?: ''}" hidden>
                  <label th:for="name" class="col-sm-2 control-label">姓名</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="name" placeholder="姓名" name="name"
                           th:value="${login_info.user.name ?: ''}" disabled/>
                  </div>
                  <label th:for="workId" class="col-sm-2 control-label">工号</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="workId" placeholder="工号" name="workId"
                           th:value="${login_info.user.workId ?: ''}" disabled/>
                  </div>
                  <label th:for="identity" class="col-sm-2 control-label">身份证号</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="identity" placeholder="身份证号" name="identity"
                           th:value="${login_info.user.identity ?: ''}" disabled/>
                  </div>
                  <label th:for="title" class="col-sm-2 control-label">职称</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="title" placeholder="职称" name="title"
                           th:value="${login_info.user.title ?: ''}" disabled/>
                  </div>
                  <label th:for="email" class="col-sm-2 control-label">邮箱</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" th:id="email" placeholder="邮箱" name="email"
                           th:value="${login_info.user.email ?: ''}" >
                  </div>
                  <label th:for="phone" class="col-sm-2 control-label">电话</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="phone" placeholder="电话" name="phone"
                           th:value="${login_info.user.phone ?: ''}" >
                  </div>
                </div>
                <div class="form-group">
                  <label th:for="departmentId" class="col-sm-2 control-label">科室</label>
                  <div class="col-sm-10">
                    <input type="radio" name="departmentId" th:id="departmentId"
                           th:value="${login_info.department.id}" th:text="| ${login_info.department.name}  |" disabled checked/>
                  </div>
                </div>
                <div class="box-footer col-sm-5 col-sm-offset-4">
                  <button type="reset" class="btn btn-default">取消</button>
                  <input type="submit" class="btn btn-info pull-right" value="确认" id="submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- 正文区域 /-->


      <script>
        $(document).ready(function () {
          setSidebarActive("user-info");
        });
      </script>
    </div>

    <!-- 页脚 -->
    <div th:replace="commons/footer"></div>
  </div>
</div>
</body>
</html>