<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用药管理系统-用户管理模块</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
  <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>

  <script>
    // 设置激活菜单
    function setSidebarActive(tagUri) {
      var liObj = $("#" + tagUri);
      if (liObj.length > 0) {
        liObj.parent().parent().addClass("active");
        liObj.addClass("active");
      }
    }
  </script>

  <div th:replace="commons/css"></div>
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">

<div class="wrapper">

  <!-- 顶部导航条 -->
  <div th:replace="commons/head-navbar::head-navbar(
      username=${login_info.user.name ?: 'unknown'},
      rolename=${login_info.role.localeName ?: 'unknown'},
      logintime=${login_info.userAuthentication.lastLoginTime ?: #dates.createNow()})"></div>

  <!-- 左侧导航 -->
  <div th:replace="commons/left-sidebar::left-sidebar(rolename=${login_info.role.name ?: 'unknown'})"></div>

  <!-- js -->
  <div th:replace="commons/js"></div>

  <!--  功能切换-->
  <div th:switch="${func}">
    <!-- 内容区域 -->
    <div class="content-wrapper" th:case="'list'">
      <div th:replace="admin/fragment/user::list"></div>
      <script>
        $(document).ready(function () {
          setSidebarActive("admin-user-list");
        });
      </script>
    </div>

    <!-- 内容区域 -->
    <div class="content-wrapper" th:case="'add'">
      <div th:replace="admin/fragment/user::add"></div>
      <script>
        $(document).ready(function () {
          setSidebarActive("admin-user-add");
        });
      </script>
    </div>

    <!-- 内容区域 -->
    <div class="content-wrapper" th:case="'info'">
      <div th:replace="admin/fragment/user::info"></div>
      <script>
        $(document).ready(function () {
          setSidebarActive("admin-user-info");
        });
      </script>
    </div>

    <!-- 内容区域 -->
    <div class="content-wrapper" th:case="'modify'">
      <div th:replace="admin/fragment/user::modify"></div>
      <script>
        $(document).ready(function () {
          setSidebarActive("admin-user-modify");
        });
      </script>
    </div>

    <!-- 内容区域 -->
    <div class="content-wrapper" th:case="'del'">
      <div th:replace="admin/fragment/user::del"></div>
      <script>
        $(document).ready(function () {
          setSidebarActive("admin-user-del");
        });
      </script>
    </div>

    <!-- 页脚 -->
    <div th:replace="commons/footer"></div>
  </div>
</div>
</body>
</html>