<html xmlns:th="http://www.thymeleaf.org">
<!-- 左侧导航 -->
<aside class="main-sidebar" th:fragment="left-sidebar(rolename)">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- 搜索框 -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
            </div>
        </form>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">菜单</li>

            <li id="admin-index"><a th:href="@{/index.html}"><i class="fa fa-dashboard"></i> <span>首页</span></a>
            </li>

            <!-- 菜单 -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>个人管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="user-password">
                        <a th:href="@{/changePassword.html}">
                            <i class="fa fa-user-o"></i> 修改密码
                        </a>
                    </li>

                    <li id="user-info">
                        <a th:href="@{/userinfo.html}">
                            <i class="fa fa-user-circle"></i> 个人信息
                        </a>
                    </li>

                </ul>
            </li>

            <!-- 菜单 -->
            <li class="treeview" th:if="${rolename} eq 'admin'">
                <a href="#">
                    <i class="fa fa-user"></i> <span>用户信息管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="admin-user-list">
                        <a data-th-href="@{/admin/user.html?m=list}">
                            <i class="fa fa-users"></i> 查询用户
                        </a>
                    </li>

                    <li id="admin-user-add">
                        <a th:href="@{/admin/user.html?m=add}">
                            <i class="fa fa-user-plus"></i> 添加用户
                        </a>
                    </li>

                    <li id="admin-user-modify">
                        <a th:href="@{/admin/user.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-o"></i> 修改用户信息
                        </a>
                    </li>

                    <li id="admin-user-info">
                        <a data-th-href="@{/admin/user.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-circle"></i> 用户详情
                        </a>
                    </li>

                    <li id="admin-user-del">
                        <a data-th-href="@{/admin/user.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-times"></i> 删除用户
                        </a>
                    </li>

                </ul>
            </li>

            <!-- 菜单 -->
            <li class="treeview" th:if="${rolename} eq 'admin'">
                <a href="#">
                    <i class="fa fa-user"></i> <span>角色信息管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="admin-role-list">
                        <a data-th-href="@{/admin/role.html?m=list}">
                            <i class="fa fa-users"></i> 查询角色
                        </a>
                    </li>

                    <li id="admin-role-add">
                        <a th:href="@{/admin/role.html?m=add}">
                            <i class="fa fa-user-plus"></i> 添加角色
                        </a>
                    </li>

                    <li id="admin-role-modify">
                        <a th:href="@{/admin/role.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-o"></i> 修改角色信息
                        </a>
                    </li>

                    <li id="admin-role-info">
                        <a data-th-href="@{/admin/role.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-circle"></i> 角色详情
                        </a>
                    </li>

                    <li id="admin-role-del">
                        <a data-th-href="@{/admin/role.html}" onclick="alert('请从查询列表进入')">
                            <i class="fa fa-user-times"></i> 删除角色
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </section>
</aside>
</html>